*{
	padding: 0;
	font-family: monospace;
}
ul *{
	padding: 0;
	margin: 0;
	list-style: none;
}

li *{
	list-style: none;
	padding: 0;
	margin: 0;
}

body{
	background-color: black;
	color: #fff;
	text-align: center;
}

.board{
	background-color: blue;
	margin: 0 auto;
	text-align: center;
	display: inline-block;
	padding: 60px 100px;
}

.frame{
	background-color: rgba(0,0,0,0.4);
	height: 540px;
	width: 300px;
	margin: 0 20px;
	display: inline-block;
	border-radius: 25px;
	box-shadow: 2px 5px 15px rgba(0,0,0,0.4);
	box-sizing: border-box;
	padding: 20px 10px;
	text-align: center;
	float: left;
}

.inner-frame{
	display: block;
	margin: 0 auto;
	height: 498px;
	width: 280px;
	background-color: #022;
	box-sizing: border-box;
	box-shadow: 0px 0px 15px rgba(0,0,0,0.4) inset;
	border-radius: 2px;
}

.top-bar{
	background-color: black;
	display: block;
	height: 15%;
	width: 100%;
}

.top-clock{
	display: inline-block;
	margin: 0 auto;
	padding: 10px;
}

.top-clock span{
	display: block;
}

.day{
	color: red;
}
.time{
	color: pink;
	padding: 0px 10px;
	font-size: 32px;
	background-color: #628;
	display: inline-block;
	float: left;
}
.time-type{
	color: yellow;
	display: inline-block;
	float: left;
	background-color: white;
	color: black;
	border-radius: 10px;
	margin-left: -10px;
	margin-top: -5px;
	padding: 2px;
}

.list-block{
	display: block;
	width: 100%
	height: 85%;
	background-color: #729;
	padding: 10px 0;	
}

.chat-list{
	background-color: #627223;
	display: block;
	width: 100%;
	scroll-behavior: smooth;
	margin: 10px auto;
}

.chat-list-item{
	border-bottom: solid thin #fff;
	padding: 15px;
	box-sizing: border-box;
	box-shadow: 0px -5px 10px rgba(0,0,0,0.2) inset;
}
.chat-item{
	text-align: left;
	padding: 5px;
	box-sizing: border-box;
	display: inline-block;
	width: 100%;
}
.chat-image{
	display: inline-block;
	width: 50px;
	height: 50px;
	float: left;
	text-align: center;
	
}

.profile-image{
	background-color: #fff;
	border-radius: 50%;
	width: 100%;
	height: 100%;
	display: block;
}

.online-status{
	background-color: green;
	width: 10px;
	height: 10px;
	display: inline-block;
	float: right;
	border-radius: 50%;
	margin-top: -15px;
	position: relative;
	z-index: 1;
	box-shadow: 0 0 6px rgba(0,0,0,0.5);
}
.chat-list-name{
	box-sizing: border-box;
	display: inline-block;
	padding: 15px;
	max-width: 180px;
	margin-top: 4px;
}

.chat-name{
	color: #f3f4f5;
}
.new-chat-status{
	display: block;
	height: 5px;
	width: 5px;
	background-color: orange;
	float: right;
	border-radius: 50%;

}

.chat-page .top-bar{
	padding: 12px;
	box-sizing: border-box;
}

.chat-page .chat-name{
	float: left;
}
.chat-page-name{
	display: inline-block;
	float: left;
	padding: 20px;
}

.chat-body{
	background-color: white;
	color: black;
	display: block;
	height: 70%;
	box-shadow: 0px -5px 10px rgba(0,0,0,0.2) inset;
	padding: 5px;
	box-sizing: border-box;
}
.chat{
	background-color: rgba(23,23,23,0.5);
	box-sizing: border-box;
	height: 100%;
	padding: 5px;
	overflow-y: scroll;
}
*::-webkit-scrollbar {
	width: 6px;	
}
*::-webkit-scrollbar-track {
	background-color: rgba(255,255,255,0.2);
	box-shadow: inset 0 0 2px rgba(0,0,0,0.4);
}
*::-webkit-scrollbar-thumb {
	background-color: rgba(0,0,0,0.2);
	outline: 1px solid slategrey;
}


.text{
	background-color: #582;
	display: inline-block;
	max-width: 80%;
	padding: 5px;
	margin: 5px;
}
.sender{
	float: right;
	background-color: #229202;
	border-radius: 10px 10px 0 10px ;
	text-align: right;
}
.reciever{
	float: left;
	background-color: #628920;
	border-radius: 0 10px 10px 10px ;
	text-align: left;
}


.base-chat-text{
	background-color: #027733;
	height: 15%;
	width: 280px;
	box-sizing: border-box;
	padding: 5px;
}

.base-chat-text .chat-image{
	height: 34px;
	width: 34px;
	padding: 5px;
	display: inline-block;	
	margin-top: 5px;
}
.chat-text{
	background-color: #289222;
	display: inline-block;
	float: left;
	height: 60px;
	box-sizing: border-box;
	border-radius: 5px;
}

.text-input{
	max-height: 60px;
	min-height: 60px;
	display: block;
	max-width: 180px;
	min-width: 180px;
	columns: 5;
	border: transparent;
	background-color: transparent;
	padding: 5px;
	box-sizing: border-box;
	overflow-wrap:normal;
}

.send{
	display: inline-block;
	background-color: #712129;
	box-sizing: border-box;
	border-radius: 50%;
	height: 34px;
	padding: 5px;
	width: 34px;
	margin-top: 10px;

}

.send-button{
	color: #fff;
	box-sizing: border-box;
}
