*{
	padding: 0;
	font-family: monospace;
}
ul *{
	padding: 0;
	margin: 0;
	list-style: none;
}

li *{
	list-style: none;
	padding: 0;
	margin: 0;
}

body{
	background-color: black;
	color: #fff;
	text-align: center;
}

.board{
	background-color: blue;
	margin: 0 auto;
	text-align: center;
	display: inline-block;
	padding: 50px 100px;
}

.frame{
	background-color: rgba(0,0,0,0.4);
	height: 540px;
	width: 300px;
	margin: 0 20px;
	display: inline-block;
	border-radius: 25px;
	box-shadow: 2px 5px 15px rgba(0,0,0,0.4);
	box-sizing: border-box;
	padding: 20px 10px;
	text-align: center;
	float: left;
}

.inner-frame{
	display: block;
	margin: 0 auto;
	height: 498px;
	width: 280px;
	background-color: #022;
	box-sizing: border-box;
	box-shadow: 0px 0px 15px rgba(0,0,0,0.4) inset;
	border-radius: 2px;
}

.top-bar{
	background-color: black;
	display: block;
	height: 15%;
	width: 100%;
}

.top-clock{
	display: inline-block;
	margin: 0 auto;
	padding: 10px;
}

.top-clock span{
	display: block;
}

.day{
	color: red;
}
.time{
	color: pink;
	padding: 0px 10px;
	font-size: 32px;
	background-color: #628;
	display: inline-block;
	float: left;
}
.time-type{
	color: yellow;
	display: inline-block;
	float: left;
	background-color: white;
	color: black;
	border-radius: 10px;
	margin-left: -10px;
	margin-top: -5px;
	padding: 2px;
}

.list-block{
	display: block;
	width: 100%
	height: 85%;
	background-color: #729;
	padding: 10px 0;	
}

.chat-list{
	background-color: #627223;
	display: block;
	width: 100%;
	scroll-behavior: smooth;
	margin: 10px auto;
}

.chat-list-item{
	border-bottom: solid thin #fff;
	padding: 15px;
	box-sizing: border-box;
	box-shadow: 0px -5px 10px rgba(0,0,0,0.2) inset;
}
.chat-item{
	text-align: left;
	padding: 5px;
	box-sizing: border-box;
	display: inline-block;
	width: 100%;
}
.chat-image{
	display: inline-block;
	width: 50px;
	height: 50px;
	float: left;
	text-align: center;
	
}

.profile-image{
	background-color: #fff;
	border-radius: 50%;
	width: 50px;
	height: 50px;
	display: block;
}

.online-status{
	background-color: green;
	width: 10px;
	height: 10px;
	display: inline-block;
	float: right;
	border-radius: 50%;
	margin-top: -15px;
}
.chat-list-name{
	box-sizing: border-box;
	display: inline-block;
	padding: 15px;
	max-width: 180px;
	margin-top: 4px;
}

.chat-name{
	color: #f3f4f5;
}
.new-chat-status{
	display: block;
	height: 5px;
	width: 5px;
	background-color: orange;
	float: right;
	border-radius: 50%;

}

.chat-page .top-bar{
	padding: 12px;
	box-sizing: border-box;
}

.chat-page .chat-name{
	float: left;
}
.chat-page-name{
	display: inline-block;
	float: left;
	padding: 20px;
}

.chat-body{
	
}


.base-chat-text{
	background-color: #027733;
	height: 15%;
	width: 280px;
}
